.kasa-body {
  margin: 20px 100px 20px 100px; }
  .kasa-body .background-sea {
    position: relative;
    background-image: url("../assets/ImgBackgroundSea.png");
    background-position: center;
    background-size: cover;
    border-radius: 25px; }
    .kasa-body .background-sea .overlay-sea {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 25px;
      z-index: 1; }
    .kasa-body .background-sea .title-sea {
      position: relative;
      color: white;
      text-align: center;
      font-weight: normal;
      padding-top: 78px;
      padding-bottom: 78px;
      z-index: 2; }
  .kasa-body .kasa-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #F6F6F6;
    border-radius: 25px; }
    .kasa-body .kasa-gallery .div-appartement {
      position: relative;
      width: calc(33.33% - 73.28px);
      margin-top: 50px;
      margin-left: 50px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      transition: transform 0.3s ease; }
      .kasa-body .kasa-gallery .div-appartement .titre-appartment {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0 20px 20px 20px;
        font-size: medium;
        color: white;
        transition: transform 0.3s ease;
        z-index: 8; }
      .kasa-body .kasa-gallery .div-appartement .div-img {
        width: 100%;
        padding-top: 100%;
        overflow: hidden;
        position: relative; }
        .kasa-body .kasa-gallery .div-appartement .div-img .img-gallery {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
          z-index: 1; }
        .kasa-body .kasa-gallery .div-appartement .div-img .img-overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 10px;
          background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
          z-index: 6; }
    .kasa-body .kasa-gallery .div-appartement:hover {
      transform: scale(1.15); }
    .kasa-body .kasa-gallery .div-appartement:hover .titre-appartment {
      transform: scale(1.05);
      color: #FF6060; }

.kasa-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FF6060; }
  .kasa-not-found .title-404 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 288px; }
  .kasa-not-found .text-not-found {
    margin-top: 49px;
    margin-bottom: 0px;
    font-size: xx-large; }
  .kasa-not-found .link-not-found {
    margin-top: 109px;
    margin-bottom: 109px;
    text-decoration: none;
    color: #FF6060; }
  .kasa-not-found .link-not-found:hover {
    text-decoration: underline; }

.div-apartment {
  padding-left: 100px;
  padding-right: 100px; }
  .div-apartment .div-img-apartment {
    width: 100%;
    height: 0;
    padding-bottom: 33.468%;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 25px; }
    .div-apartment .div-img-apartment .img-apartment {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .div-apartment .title-host-info {
    display: flex;
    justify-content: space-between; }
    .div-apartment .title-host-info .div-title-location {
      display: flex;
      flex-direction: column; }
      .div-apartment .title-host-info .div-title-location .titre-apartment {
        margin-block-start: 0;
        margin-block-end: 0;
        padding-bottom: 4px; }
      .div-apartment .title-host-info .div-title-location .location-apartment {
        margin-block-start: 0; }
    .div-apartment .title-host-info .host-info {
      display: flex;
      justify-content: flex-end; }
      .div-apartment .title-host-info .host-info .div-names {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 23px; }
        .div-apartment .title-host-info .host-info .div-names .host-names {
          margin-block-start: 0;
          margin-block-end: 0;
          padding-right: 10px; }
      .div-apartment .title-host-info .host-info .div-img-host {
        width: 27.9%;
        height: 74.62%;
        overflow: hidden;
        border-radius: 64px; }
        .div-apartment .title-host-info .host-info .div-img-host .host-img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
  .div-apartment .div-tags-ratings {
    display: flex;
    justify-content: space-between; }
    .div-apartment .div-tags-ratings .div-tags {
      display: flex; }
      .div-apartment .div-tags-ratings .div-tags .div-around-tags {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        height: 39.08%;
        border-radius: 10px;
        padding: 4.5px 25.274px 7.5px 25.274px;
        margin-right: 10px;
        background-color: #FF6060; }
        .div-apartment .div-tags-ratings .div-tags .div-around-tags .tag-apartment {
          display: flex;
          align-items: center;
          width: 100%;
          color: white;
          font-size: x-small;
          margin-block-start: 0;
          margin-block-end: 0; }
    .div-apartment .div-tags-ratings .rating {
      display: flex;
      justify-content: flex-end;
      width: 100%; }
      .div-apartment .div-tags-ratings .rating .star {
        position: relative;
        width: 4.233%;
        height: 54.56%;
        background-repeat: no-repeat;
        background-position: center; }
      .div-apartment .div-tags-ratings .rating .filled {
        background-image: url("../assets/star-orange.png"); }
      .div-apartment .div-tags-ratings .rating .empty {
        background-image: url("../assets/star-gray.png"); }
  .div-apartment .div-details-apartment {
    display: flex;
    justify-content: space-between; }
    .div-apartment .div-details-apartment .details-apartment {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background-color: #FF6060; }
      .div-apartment .div-details-apartment .details-apartment[open] {
        color: #FF6060;
        background: var(--gray, #F6F6F6); }
        .div-apartment .div-details-apartment .details-apartment[open] summary {
          border-radius: 10px;
          background-color: #FF6060; }
      .div-apartment .div-details-apartment .details-apartment .description-apartment {
        padding: 20px;
        margin: 0; }
      .div-apartment .div-details-apartment .details-apartment .ul-equipment {
        list-style-type: none;
        padding: 20px;
        margin: 0; }
      .div-apartment .div-details-apartment .details-apartment summary {
        position: relative;
        padding-right: 20px;
        padding-bottom: 4px;
        padding-top: 4px;
        list-style-type: none;
        padding-left: 10px;
        color: white; }
      .div-apartment .div-details-apartment .details-apartment summary::before {
        content: '';
        display: inline-block;
        width: 5.246%;
        height: 100%;
        background-image: url("../assets/arrow-down.png");
        background-size: cover;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        margin-right: 5px; }
    .div-apartment .div-details-apartment .details-description {
      margin-right: 10px; }
    .div-apartment .div-details-apartment .details-equipment {
      margin-left: 10px; }

.kasa-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 45px 100px 50px 100px; }
  .kasa-header .header-links {
    display: flex;
    list-style-type: none; }
    .kasa-header .header-links .header-link-accueil {
      margin-right: 57px;
      text-decoration: none;
      color: #FF6060; }
    .kasa-header .header-links .header-link-accueil:hover {
      text-decoration: underline; }
    .kasa-header .header-links .header-link-a-propos {
      text-decoration: none;
      color: #FF6060; }
    .kasa-header .header-links .header-link-a-propos:hover {
      text-decoration: underline; }

.kasa-footer {
  margin-top: 50px;
  padding-top: 66px;
  padding-bottom: 29px;
  text-align: center;
  background-color: black;
  color: white; }
  .kasa-footer .kasa-copyright {
    margin-top: 29px;
    font-weight: normal;
    font-size: large; }

/*# sourceMappingURL=style.css.map */
