.kasa-body {
  margin: 20px 100px 20px 100px; }
  .kasa-body .background-sea {
    position: relative;
    background-image: url("../assets/ImgBackgroundSea.png");
    background-position: center;
    background-size: cover;
    border-radius: 25px; }
    .kasa-body .background-sea .overlay-sea {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 25px;
      z-index: 1; }
    .kasa-body .background-sea .title-sea {
      position: relative;
      color: white;
      text-align: center;
      font-weight: normal;
      padding-top: 78px;
      padding-bottom: 78px;
      z-index: 2; }
  .kasa-body .kasa-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #F6F6F6;
    border-radius: 25px; }
    .kasa-body .kasa-gallery .div-appartement {
      position: relative;
      width: calc(33.33% - 73.28px);
      margin-top: 50px;
      margin-left: 50px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      transition: transform 0.3s ease; }
      .kasa-body .kasa-gallery .div-appartement .titre-appartment {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0 20px 20px 20px;
        font-size: medium;
        color: white;
        transition: transform 0.3s ease;
        z-index: 8; }
      .kasa-body .kasa-gallery .div-appartement .div-img {
        width: 100%;
        padding-top: 100%;
        overflow: hidden;
        position: relative; }
        .kasa-body .kasa-gallery .div-appartement .div-img .img-gallery {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
          z-index: 1; }
        .kasa-body .kasa-gallery .div-appartement .div-img .img-overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 10px;
          background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
          z-index: 6; }
    .kasa-body .kasa-gallery .div-appartement:hover {
      transform: scale(1.15); }
    .kasa-body .kasa-gallery .div-appartement:hover .titre-appartment {
      transform: scale(1.05);
      color: #FF6060; }

@media only screen and (max-width: 767px) {
  .kasa-body {
    margin: 0px 20px 30px 20px; }
    .kasa-body .background-sea {
      border-radius: 10px;
      width: auto;
      height: 111px;
      border-radius: 10px; }
      .kasa-body .background-sea .title-sea1 {
        position: relative;
        color: white;
        text-align: center;
        font-weight: normal;
        z-index: 2;
        padding: 30px 0px 0px 16px;
        width: 260px;
        margin: 0;
        text-align: start;
        font-size: 24px; }
      .kasa-body .background-sea .title-sea2 {
        position: relative;
        color: white;
        text-align: center;
        font-weight: normal;
        z-index: 2;
        padding-left: 16px;
        margin: 0;
        width: 260px;
        text-align: start;
        font-size: 24px; }
      .kasa-body .background-sea .overlay-sea {
        border-radius: 10px; }
    .kasa-body .kasa-gallery {
      display: flex;
      flex-wrap: wrap;
      background-color: white;
      border-radius: 25px; }
      .kasa-body .kasa-gallery .div-appartement {
        width: 100%;
        margin-top: 20px;
        margin-left: 0px; }
        .kasa-body .kasa-gallery .div-appartement .div-img {
          padding-top: 76.12%; } }
.kasa-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FF6060; }
  .kasa-not-found .title-404 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 288px; }
  .kasa-not-found .text-not-found {
    margin-top: 49px;
    margin-bottom: 0px;
    font-size: xx-large;
    font-weight: normal;
    text-align: center; }
  .kasa-not-found .link-not-found {
    margin-top: 109px;
    margin-bottom: 109px;
    text-decoration: none;
    color: #FF6060; }
  .kasa-not-found .link-not-found:hover {
    text-decoration: underline; }

@media only screen and (max-width: 767px) {
  .kasa-not-found .title-404 {
    margin-top: 83px;
    font-size: 96px; }
  .kasa-not-found .text-not-found {
    margin-top: 93px;
    font-size: medium; }
    .kasa-not-found .text-not-found .break-word::before {
      content: "\A";
      white-space: pre; }
  .kasa-not-found .link-not-found {
    margin-top: 113px;
    margin-bottom: 83px; } }
@media screen and (min-height: 880px) {
  .kasa-not-found {
    min-height: 69.6vh; } }
.div-apartment {
  padding-left: 100px;
  padding-right: 100px; }
  .div-apartment .div-img-apartment {
    width: 100%;
    height: 0;
    padding-bottom: 33.468%;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 25px; }
    .div-apartment .div-img-apartment .img-apartment {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .div-apartment .div-img-apartment .div-counter .counter {
      position: absolute;
      left: 50%;
      top: 85%;
      color: white; }
    .div-apartment .div-img-apartment .div-links {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      display: flex;
      justify-content: space-between;
      transform: translateY(-50%);
      margin-right: 20px;
      margin-left: 20px; }
      .div-apartment .div-img-apartment .div-links .link {
        background: none;
        border: none; }
        .div-apartment .div-img-apartment .div-links .link .link-image {
          width: auto;
          height: auto; }
  .div-apartment .title-host-info {
    display: flex;
    justify-content: space-between; }
    .div-apartment .title-host-info .div-title-location {
      display: flex;
      flex-direction: column; }
      .div-apartment .title-host-info .div-title-location .titre-apartment {
        color: #FF6060;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-bottom: 4px;
        font-weight: normal; }
      .div-apartment .title-host-info .div-title-location .location-apartment {
        color: #FF6060;
        margin-block-start: 0; }
    .div-apartment .title-host-info .host-info {
      display: flex;
      justify-content: flex-end; }
      .div-apartment .title-host-info .host-info .div-names {
        margin-top: 9px; }
        .div-apartment .title-host-info .host-info .div-names .host-names {
          display: flex;
          justify-content: flex-end;
          margin-block-start: 0;
          margin-block-end: 0;
          padding-right: 10px;
          color: #FF6060; }
      .div-apartment .title-host-info .host-info .div-img-host {
        width: 64px;
        height: 64px;
        overflow: hidden;
        border-radius: 50%; }
        .div-apartment .title-host-info .host-info .div-img-host .host-img {
          width: 100%;
          height: auto;
          display: block;
          object-fit: cover; }
  .div-apartment .div-tags-ratings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; }
    .div-apartment .div-tags-ratings .div-tags {
      display: flex;
      flex-direction: row;
      white-space: nowrap; }
      .div-apartment .div-tags-ratings .div-tags .div-around-tags {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        height: 39.08%;
        border-radius: 10px;
        padding: 4.5px 25px 7.5px 25px;
        margin-right: 10px;
        background-color: #FF6060; }
        .div-apartment .div-tags-ratings .div-tags .div-around-tags .tag-apartment {
          display: flex;
          justify-content: center;
          width: 100%;
          color: white;
          font-size: x-small;
          margin-block-start: 0;
          margin-block-end: 0; }
    .div-apartment .div-tags-ratings .rating {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      width: 100%;
      height: 44px; }
      .div-apartment .div-tags-ratings .rating .star {
        position: relative;
        width: 4.233%;
        height: 54.56%;
        background-repeat: no-repeat;
        background-position: center; }
      .div-apartment .div-tags-ratings .rating .filled {
        background-image: url("../assets/star-orange.png"); }
      .div-apartment .div-tags-ratings .rating .empty {
        background-image: url("../assets/star-gray.png"); }
  .div-apartment .div-details-apartment {
    display: flex;
    justify-content: space-between; }
    .div-apartment .div-details-apartment .details-apartment {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background-color: #FF6060; }
      .div-apartment .div-details-apartment .details-apartment[open] {
        height: 300px;
        color: #FF6060;
        background: var(--gray, #F6F6F6); }
        .div-apartment .div-details-apartment .details-apartment[open] summary {
          border-radius: 10px;
          background-color: #FF6060; }
      .div-apartment .div-details-apartment .details-apartment[open] summary::before {
        background-image: url("../assets/arrow-down.svg");
        transform: translateX(-10%) translateY(-45%); }
      .div-apartment .div-details-apartment .details-apartment .description-apartment {
        padding: 20px;
        margin: 0; }
      .div-apartment .div-details-apartment .details-apartment .ul-equipment {
        list-style-type: none;
        padding: 20px;
        margin: 0; }
      .div-apartment .div-details-apartment .details-apartment summary {
        position: relative;
        padding-right: 20px;
        padding-bottom: 4px;
        padding-top: 4px;
        list-style-type: none;
        color: white;
        padding: 10px 0px 10px 10px; }
      .div-apartment .div-details-apartment .details-apartment summary::before {
        content: '';
        display: inline-block;
        width: 32px;
        height: 32px;
        background-image: url("../assets/arrow-up.svg");
        background-size: cover;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateX(-10%) translateY(-55%);
        margin-right: 10px; }
    .div-apartment .div-details-apartment .details-description {
      margin-right: 37.5px; }
    .div-apartment .div-details-apartment .details-equipment {
      margin-left: 37.5px; }

@media only screen and (max-width: 767px) {
  .div-apartment {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px; }
    .div-apartment .div-img-apartment {
      height: 225px;
      border-radius: 10px; }
      .div-apartment .div-img-apartment .div-counter {
        display: none; }
      .div-apartment .div-img-apartment .div-links .link .link-image {
        height: 24px; }
    .div-apartment .title-host-info {
      flex-direction: column; }
      .div-apartment .title-host-info .div-title-location .titre-apartment {
        font-size: large; }
      .div-apartment .title-host-info .div-title-location .location-apartment {
        margin-bottom: 10px; }
    .div-apartment .div-tags-ratings {
      margin-bottom: 0; }
      .div-apartment .div-tags-ratings .div-tags {
        flex-wrap: wrap; }
        .div-apartment .div-tags-ratings .div-tags .div-around-tags {
          margin-bottom: 10px;
          width: auto; }
    .div-apartment .title-host-info .host-info {
      justify-content: initial;
      padding-bottom: 15px; }
      .div-apartment .title-host-info .host-info .rating {
        display: flex;
        align-items: center; }
        .div-apartment .title-host-info .host-info .rating .star-image {
          width: 18px;
          height: 18px; }
      .div-apartment .title-host-info .host-info .div-names-img-host {
        display: flex;
        justify-content: flex-end;
        width: 100%; }
        .div-apartment .title-host-info .host-info .div-names-img-host .div-names {
          position: relative; }
          .div-apartment .title-host-info .host-info .div-names-img-host .div-names .host-names {
            margin-left: auto; }
        .div-apartment .title-host-info .host-info .div-names-img-host .div-img-host {
          position: relative; }
          .div-apartment .title-host-info .host-info .div-names-img-host .div-img-host .host-img {
            margin-left: auto; }
    .div-apartment .div-details-apartment {
      justify-content: initial;
      flex-direction: column; }
      .div-apartment .div-details-apartment .details-apartment[open] {
        height: auto; }
      .div-apartment .div-details-apartment .details-description {
        margin-right: 0;
        margin-bottom: 20px; }
      .div-apartment .div-details-apartment .details-equipment {
        margin-left: 0; } }
@media screen and (min-height: 880px) {
  .div-apartment {
    min-height: 69.6vh; } }
.kasa-about {
  padding: 20px 100px 20px 100px; }
  .kasa-about .div-mountain {
    position: relative;
    border-radius: 25px; }
    .kasa-about .div-mountain .background-mountain {
      width: 100%;
      height: 223px;
      background-image: url("../assets/ImgBackgroundMountain.png");
      object-fit: cover;
      border-radius: 25px; }
    .kasa-about .div-mountain .overlay-mountain {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 98%;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 25px;
      z-index: 1; }
  .kasa-about details {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #FF6060;
    margin-bottom: 30px; }
    .kasa-about details[open] {
      color: #FF6060;
      background: var(--gray, #F6F6F6); }
      .kasa-about details[open] summary {
        border-radius: 5px;
        background-color: #FF6060; }
    .kasa-about details[open] summary::before {
      background-image: url("../assets/arrow-down.svg");
      transform: translateX(-10%) translateY(-45%); }
  .kasa-about summary {
    position: relative;
    padding-right: 20px;
    padding-bottom: 4px;
    padding-top: 4px;
    list-style-type: none;
    color: white;
    padding: 10px 0px 10px 10px; }
  .kasa-about summary::before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url("../assets/arrow-up.svg");
    background-size: cover;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateX(-10%) translateY(-55%);
    margin-right: 10px; }
  .kasa-about .div-fiabilite {
    margin-top: 30px; }
  .kasa-about .text-fiabilite,
  .kasa-about .text-respect,
  .kasa-about .text-service,
  .kasa-about .text-securite {
    padding: 15px 20px 20px 20px; }

@media only screen and (max-width: 767px) {
  .kasa-about {
    margin-top: 0px;
    padding: 20px 20px 0px 20px; }
    .kasa-about .div-mountain .background-mountain {
      border-radius: 10px; }
    .kasa-about .div-mountain .overlay-mountain {
      height: 98%;
      border-radius: 10px; } }
@media screen and (min-height: 880px) {
  .kasa-about {
    min-height: 69.6vh; } }
.kasa-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 100px 50px 100px; }
  .kasa-header .header-links {
    display: flex;
    list-style-type: none;
    margin: 0; }
    .kasa-header .header-links .header-link-accueil {
      margin-right: 57px;
      text-decoration: none;
      color: #FF6060; }
    .kasa-header .header-links .header-link-accueil:hover {
      text-decoration: underline; }
    .kasa-header .header-links .header-link-a-propos {
      text-decoration: none;
      color: #FF6060; }
    .kasa-header .header-links .header-link-a-propos:hover {
      text-decoration: underline; }

@media only screen and (max-width: 767px) {
  .kasa-header {
    padding: 20px 20px 0px 20px; }
    .kasa-header .link-logo {
      max-width: 40%; }
      .kasa-header .link-logo .header-logo {
        width: 100%; }
    .kasa-header .header-links {
      padding: 0; }
      .kasa-header .header-links .header-link-accueil {
        margin-right: 15px; } }
.kasa-footer {
  margin-top: 50px;
  padding-top: 66px;
  padding-bottom: 29px;
  text-align: center;
  background-color: black;
  color: white; }
  .kasa-footer .kasa-copyright {
    margin-top: 29px;
    font-weight: normal;
    font-size: large;
    margin-bottom: 0; }

@media only screen and (max-width: 767px) {
  .kasa-footer {
    margin-top: 30px;
    padding: 60px 120px 60px 120px; }
    .kasa-footer .kasa-copyright {
      margin-top: auto;
      font-size: x-small; } }
body {
  font-family: 'Montserrat', sans-serif; }

/*# sourceMappingURL=style.css.map */
